h4 a{ 
  text-decoration: none;
  color: #FF5C1C;
}

h4 a:hover{
  text-decoration: underline;
}
 h4 a:visited{
  color: rgb(150, 45, 0);
}
.card{
  display: flex;
  position: relative !important;
  height: 163px;
  width: 50.5vw;
  border-radius: 8px;
  margin: 15px;
  background: #fff;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);
  border: .009px solid #f2f2f2;
  transition: all 300ms ease;
}
.card:hover{
  transform: scale(1.01);
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
}
.card-body{
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  border-bottom: 12px solid transparent;
  text-overflow: ellipsis !important;
  line-height: normal;
  overflow: hidden;
}
h4{
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 45ch;
}
.preview{
  width: 250px;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.favicon{
  position: relative;
  top: 1vh;
  width: 18px;
  height: 18px;
  float: left;
  margin: 13px;
}
.description{
  min-height: 0;  
  padding: 0 10px 10px 10px;
}
.icon{
  position: relative;
  bottom: 3vh;
  vertical-align: bottom;
  display: inline-block;
  padding-left: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
